* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffffff;  
}

main {
    margin-top: 11em;
}

nav {
    background: linear-gradient(to bottom,#f26b6b,#f5e8d7, #ffffff);
    width: 100vw;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    z-index: 20;
}

nav ul { 
    display: flex; /* Zorgt dat alles naast elkaar staat*/
    justify-content: space-around; /* Plek van content in de breedte*/
    font-size: 120%;
    align-content: flex-end; /*Plek van content in de verticale ding*/
    list-style-type: none;
    margin-top: 2em;
}

nav a {
    border: solid #f26b6b;
    background-color: #f26b6b;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #666;
    padding: 1em 2em 1em 2em;
    margin: 0em 1em 2em 3em;
    transition: background-color 350ms ease; /*Zorgt ervoor dat er een goeie overgang is*/ 
    color: #ffffff;
}

nav>a {
    background-color: #f5e8d7;
    border: none;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2px 0px 0px 2px;
}

nav a:hover { /* ZOrgt ervoor dat het lijkt alsof het klikbaar is*/
    background-color: rgb(102, 145, 159);
}

img {
    border: solid #ddb8a6;
    border-radius: 7px;
}

h1 {
    text-align: center;
    font-family: 'papyrus', 'brush script mp', sans-serif ;
    font-size: 50px;
    margin: 50px;
    text-decoration: underline;
    justify-content: center;
}

h2 {
    border: solid #f26b6b ; 
    background: #f26b6b ;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    padding: 5px;
    margin: 50px;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: 30px;
}

article {
    border: 3px solid #f5e8d7;
    border-radius: 15px;
    background: #f5e8d7;
    padding: 2em;
    margin: 1.5em;
    display: flex;
    flex-wrap: wrap; /* Zorgt ervoor dat niet alles in een lijn komt te staan*/
}

.article1 {
    border-radius: 45%;
    justify-content: center;
    padding: 4em;
}

ol {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    list-style-type: none; 
}

ol a {
    border: solid #f26b6b;
    background-color:#c86b6b;
    padding: 3em;
    color: #ffffff;
    border-radius: 50%;
    transition: background-color 350ms ease; 
    display: flex;
}

ol a:hover { /* ZOrgt ervoor dat het lijkt alsof het klikbaar is*/
    background-color: rgb(102, 145, 159);
    transform: rotate(250deg);
    transition: all 2s ease;
}

@keyframes slide {
    0% {
        left: 0%;

    }
    50% {
        left: 130%;
    }
    100%{
        left: 0%;
        transform: rotateY(180deg);
        animation-duration: 1s;
    }
}

.vliegtuig {
    animation-name: slide;
    animation-duration: 5s;
    transition-duration: 0.5s;
    animation-iteration-count: infinite; 
    position: relative;
    border: none;
    width: 20vw;
    height: 15vh;
}

@keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { 
        transform: translateX(10px); 
    }
    100% { 
        transform: translateX(0);
    }
  }

.koffer {
    animation: bounce-in-right 4s ease infinite;
    max-width: 30vw;
    max-height: 35vh;
    border: none;
    margin: 1em;
}

/*index css*/
.welkom {
    border: 4px dotted #ddb8a6;
    border-radius: 20em;
    margin: 0em 10em 0em 10em;
    width: 50%;
}

.wiebenik { /* foto van mij en tekst wie ben ik naast stuk tekst*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.wiebenik img {
    border: none;
    margin: -4em;
}

.wiebenik img:hover {
    transform: rotate(360deg);
    transition: all 2s ease;
}

.wiebenik p {
    width: 50%;
}

.favoriete {
    display: block;
    padding: 2em;
    margin:0em 10em 0em 10em;
    text-align: center;
}

.favoriete h2 {
    margin-left: 20vw;
}

/*Duitsland css*/
.duitsland, .cochem {
    display: flex; 
}

.duitsland h2 {
    width: 1000px;
    padding: 1em 1em 1em 1em;
}

.duitsland section {
    display: block;
    margin: 1em 1em 1em 1em;
}

.duitsland section h3 {
    margin-bottom: 1em;
}

.duitsland section p {
    max-width: 12.5vw;
    
}

.fotoduitsland {
    justify-content: center;
}

.fotoduitsland img:hover {
    transform: scale(1.1);
}

.cochem p, img {
    max-width: 50vw;
}

/*Tenerife css*/
.todo h2 {
    width: 100%;
    padding: 10px;
}

.todo {
    display: flex;
}

.todo div {
    display: flex;
    text-align: justify;
}

.todo section {
    width: 50%;
    margin-top: 2em;
    padding: 1em 4em 2em 4em;
}

.todo img {
    max-width: 25%;
    margin-top: 3em;
}

.todo p {
    margin: 50px 10px 10px 10px;
}

.tenerife section {
    display: flex;
    flex-wrap: wrap;
}

.tenerife h3 {
   width: 100vw;
   margin: 0 4em 1em 0;
}

.tenerife p {
    max-width: 25vw;
    align-content: center;
}

/*tsjechie css*/
.fotopraag {
    display: flex;
}

.fotopraag img:hover {
    transform: scale(1.1);
}

.tsjechie {
    padding: 2em;
}

.tsjechie section {
    padding: 0em 4em 1em 4em;
}

.tsjechie h3 {
    border: solid #f26b6b;
    background-color:#f26b6b;
    border-radius: 10px;
    padding: 10px;
}

.tsjechie h4 {
    padding: 2em;
    font-size: 19px;
}

.tsjechie div {
    display: flex;
    margin: 0 2.5em 0 2.5em;
}
