* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header img { /*logo  happy places*/
    /* Hiermee kan je speciefiek een afbeelding aanpassen*/
    width: 6em;
    height: 6em;
}

nav {
    border: solid #f5e8d7;
    background-color:  #f5e8d7;
    padding: 1em;
    display: flex;
}

nav ul {
    
    display: flex; /* Zorgt dat alles naast elkaar staat*/
    justify-content: space-around; /* Plek van content in de breedte*/
    font-size: 120%;
    align-content: flex-end; /*Plek van content in de verticale ding*/
    list-style-type: none;
}

nav li{
    border: solid rgb(147, 199, 216);
    background-color: rgb(147, 199, 216) ;
    border-radius: 15px;
    align-content: center;
    margin-left: 5vw;
    margin-top: 1em;
    padding-top: 1em;
    padding-left: 4vw;
    padding-right: 4vw;
    transition: background-color 350ms ease; /*Zorgt ervoor dat er een goeie overgang is*/ 
}

nav li:hover{ /* ZOrgt ervoor dat het lijkt alsof het klikbaar is*/
    background-color: rgb(102, 145, 159);
}

img {
    width: 30vw; 
    height: 40vh;
    border: solid #ddb8a6;
    border-radius: 7px;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-family: 'papyrus', 'brush script mp', sans-serif ;
    font-size: 50px;
    margin: 50px;
    text-decoration: underline;
    justify-content: center;
}

h2 {
    border: solid rgb(147, 199, 216) ; 
    background: rgb(147, 199, 216) ;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    padding: 5px;
    margin: 50px;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: 30px;
}

article {
    border: 3px solid #f5e8d7;
    border-radius: 7px;
    background: #f5e8d7;
    padding: 2em;
    margin: 2em;
    display: flex;
    flex-wrap: wrap; /* Zorgt ervoor dat niet alles in een lijn komt te staan*/
}

ol{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

/*index css*/

.welkom{
    border: 4px dotted #ddb8a6;
}
.wiebenik { /* foto van mij en tekst wie ben ik naast stuk tekst*/
    display: flex;
    align-items: center;

}

.wiebenik img {
    width: 30vw;
    height: 40vh;
}

/*Duitsland css*/
div.duitsland{
    display: flex;
}

div.duitsland p{
    max-width: 16vw;
}

div.duitsland img{
    max-width:16vw;
}

h3{
    margin: 1em;
}

/*Tenerife css*/

.tenerife{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.tenerife p{
    max-width: 16vw;
}

.tenerife img{
    max-width:16vw;
    margin-top: 3em;
}










